$main-bg: #0b192f;
$main-bg-opacity: #0b192fc0;
$header-footer-bg: #162b4d9c;
$nav-item-hover-bg: #b8b8b88c;
$nav-link-color: #f5f5f5;
$font-color: #484848;
$simple-white: #fff;
$simple-white-opacity: #ffffff63;
$simple-white-opacity-dar: #ccccccc5;
$logo-second-color: #ff0000;
$first-post-bg: #f3d250;
$second-post-bg: #8d8741;
$third-post-bg: #659dbd;
$fourth-post-bg: #daad86;
$general-info-avatar: 'https://www.flywithbit.com/flywithbit.com/data1/images/3.jpg';
